<!DOCTYPE html>
<html>
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"
	media="screen,projection" />
	
<link rel="stylesheet" type="text/css" href="style/style.css" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<header>
		<nav>
    		<div class="nav-wrapper">
      			<a href="#" class="brand-logo">Home</a>
      			<ul id="nav-mobile" class="right hide-on-med-and-down">
        			<li th:if="${user != null}" >
        				<li><a href="logout"><strong>Log out</strong></a></li>
					</li>
					<li th:if="${user == null}" >
        				<a class="waves-effect waves-light btn" href="/login">
							<i class="material-icons left">subdirectory_arrow_right</i>
							Log in
						</a>
					</li>
					<li th:if="${user == null}" >
        				<a class="waves-effect waves-light btn" href="/register">
							<i class="material-icons left">subdirectory_arrow_right</i>
							Register
						</a>
					</li>
     			 </ul>
    		</div>
  		</nav>
	</header>

	<div class="container">
		<h3 >Welcome to the Event Managment System</h3>
		
		<div th:if="${user != null}" >
			<h5 >Hey <span th:text="${user.username}"></span>, please choose one of the options below:</h5>
			
			<a class="waves-effect waves-light btn" href="/events">
					<i class="material-icons left">format_list_bulleted</i>
					List of Events
			</a>
			<a class="waves-effect waves-light btn" href="/registerEvent">
					<i class="material-icons left">add_circle_outline</i>
					Register Event
			</a>
		</div>
	</div>


	<!--Import jQuery before materialize.js-->
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	
</body>

</html>