<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Events App</title>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<link rel="stylesheet" type="text/css" href="style/style.css" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="/" class="brand-logo">Home</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li th:if="${user.username == null}" >
        				<a class="waves-effect waves-light btn" href="/login">
							<i class="material-icons left">subdirectory_arrow_right</i>
							Login
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	

	<div class="container">
		
		<h1>Registration</h1>
		
		<th:block th:include="validationmessage"></th:block>
		
		<form th:object="${user}" method="POST" enctype="utf8">
			<div>
				<label>username</label> 
				<input th:field="*{username}" />
			</div>
			<div>
				<label>email</label>
				 <input type="email" th:field="*{email}" />
			</div>
			<div>
				<label>password</label> 
				<input type="password" th:field="*{password}" />
			</div>
			
			<button class="waves-effect waves-light btn" type="submit" >submit</button>
		</form>	
	
	</div>
	
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>